<div class="wrapper">
  <div class="column gap-05">
    <h2>Reset password</h2>
    <p class="mb-1">Enter your email to recieve a new password</p>

    <form class="column gap-05">
      <label for="email">Email</label>
      <input
        type="text"
        pInputText
        [(ngModel)]="email"
        placeholder="Enter your email"
        [ngModelOptions]="{ standalone: true }"
        class="mb-05 p-fluid"
      />

      <p-button label="reset password" severity="contrast" class="p-fluid" />
    </form>
    <p>back to <a routerLink="/auth/login">Log in</a></p>
  </div>
</div>
